{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} - {% if info.titulo %}{{info.titulo}}{% else %}{{ app_name }}{% endif %}</title>
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/main.css"/>
        <link href='http://fonts.googleapis.com/css?family=Marvel|Loved+by+the+King' rel='stylesheet' type='text/css'>
        {% block css_extra %}{% endblock %}
        {% block js_extra %}{% endblock %}
        <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
    </head>

    <body id="{% if id_body %}{{ id_body }}{% else %}home{% endif %}">
        <div id="wrap" class="gdAll center">
            {% include 'app/header.html' %}

            {% block slider_home %}{% endblock %}
            <div id="filter" class="gdAll center">
                <form id="filterF" action="busqueda.php" method="get">
                    <fieldset id="field1" class="left">
                        <label for="tipoCambio" class="labelM">TIPO DE COMIDA</label>
                        <select id="tipoCambio" class="selectM" name="t">
                            {% for cat in categorias %}
                            <option value="{{ cat.id }}">{{ cat.titulo }}</option>
                            {% endfor %}
                        </select>
                        <label for="distrito" class="labelM">DISTRITO</label>
                        <select id="distrito" class="selectM" name="d">
                            {% for dis in distritos %}
                            <option value="{{ dis.id }}">{{ dis.nombre }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <fieldset id="field1" class="left">
                        <label for="precioM" class="labelM">PRECIO:</label>
                        <select id="precioM" class="selectM" name="p">
                            <option value="0">Todos los Precios</option>
                            <option value="0-20">0 - 20 Soles</option>
                            <option value="20-40">20 - 40 Soles</option>
                            <option value="20-1500">40 Soles a más</option>
                        </select>
                        <div id="optChecks">
                            <label for="paraLlevarM" class="labelM"><input type="radio" id="paraLlevarM" class="checkM" name="e" value="0" checked="checked"> <span class="spanM">Para llevar</span></label>
                            <label for="deliveryM" class="labelM"><input type="radio" id="deliveryM" class="checkM" name="e" value="1"> <span class="spanM">Delivery</span></label>          
                            <input type="submit" id="sbtM" class="submitM" value="Buscar">
                        </div>
                    </fieldset>
                </form>
            </div>
            {% block banner_interno %}
            <ul id="menuMain" class="gdAll center">
                {% for i, cat in categorias %}
                <li class="liMenuMain left {% if categoria.id == cat.id %}active{% endif %}">
                    <a href="{{ SITE_URL }}selecciona-tu-tipo-de-comida/{{ cat.id }}/" class="aMenuMain main{{ i }} left">{{ cat.titulo }}</a>
                </li>
                {% endfor %}
            </ul>
            {% if banner_categoria %}
            <div id="banner960x150"><a href="#"><img src="{{ banner_categoria }}" alt="Tu orden" width='960'></a></div>
            {% endif %}
            {% endblock %}


            <div id="outContent" class="block">
                <div id="content" class="gdAll center">
                    <div id="iContent" class="center">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {% include 'app/footer.html' %}
            </div>
        </div>
        {% block js_final %}{% endblock %}
    </body>
</html>
{% endspaceless %}