<div id="aside" class="right">
	<div class="ordenOpts">
		<form class="frmF" action="#">
			<div class="iOrdenOpts">
				<div class="espWhite">
				</div>
				<div class="block br1">
					<div class="left blockLOP">
						<h6 class="titleH6">Tu Orden</h6>
					</div>
					<div class="right mT20">
						<span class="redBtn icons"></span>
					</div>
				</div>
				<div class="cntBlockTO br1 block">
					<div class="block">
						<div class="left blockLOP">
							<label class="labelOpt"><input type="checkbox" class="checkN left"><span class="txtN right">Hamburguesa Clásica</span></label>
						</div>
						<div class="right">
							<span class="redBtn icons"></span>
						</div>
					</div>
					<div class="block">
						<div class="left blockLOP">
							<label class="labelOpt"><input type="checkbox" class="checkN left"><span class="txtN right">Hamburguesa Clásica</span></label>
						</div>
						<div class="right">
							<span class="redBtn icons"></span>
						</div>
					</div>
					<div class="block">
						<div class="left blockLOP">
							<label class="labelOpt"><input type="checkbox" class="checkN left"><span class="txtN right">Hamburguesa Clásica</span></label>
						</div>
						<div class="right">
							<span class="redBtn icons"></span>
						</div>
					</div>
					<div class="block">
						<div class="left blockLOP">
							<label class="labelOpt"><input type="checkbox" class="checkN left"><span class="txtN right">Hamburguesa Clásica Extra Grande </span></label>
						</div>
						<div class="right">
							<span class="redBtn icons"></span>
						</div>
					</div>
				</div>
				<div class="br1 cntBr block">
					<span class="right">Delivery</span>
				</div>
				<div class="br1 cntBr block">
					<span class="left">TOTAL</span>
					<span class="right">S/.0.00</span>
				</div>
				<div class="block">
					<input type="submit" class="sbtN right" value="Ordenar">
				</div>
			</div>
		</form>
	</div>
	<div class="cntPayOpt">
		<div class="iCntPayOpt">
			<div class="topCnt mB5">
				Metodo de pago
			</div>
			<div class="block">
				<a href="#" class="payOpt opt1 icons"></a>
				<a href="#" class="payOpt opt2 icons"></a>
				<a href="#" class="payOpt opt3 icons"></a>
				<a href="#" class="payOpt opt4 icons"></a>
			</div>
			<div class="block">
				<span class="left pay1">Total</span>
				<span class="right pay1">S/. 0.00</span>
			</div>
			<div class="block pay2">
				<span class="left pay2">Monto mínimo</span>
				<span class="right pay2">S/. 0.00</span>
			</div>
		</div>
	</div>
</div>