<div style="margin: 10px;">
<div style="width: 600px;">
	<div style="margin-bottom: 0px;">
		<div>
			<div style="padding: 20px 20px;border: 1px solid #7a7e81;background-color: #ffffff;margin-bottom:5px;">
        <div style="border: none;background-color: #ffffff;margin-bottom:5px;">
          <table cellspacing="0" style="width:100%;">
            <tr>
              <td><div><img src="{{ STATIC_URL }}images/logo.png"></div></td>
            </tr>
          </table>
        </div>
<table cellspacing="0" style="width:100%;">
	<tr>
		<td style="font: normal 12px Arial, Helvetica, sans-serif; color:#000000;text-align:left;width:25%;padding: 20px 6px 10px 6px;">
			<table style="width:100%;">
				<tr>
					<th style="text-align:left">Nombre:</th>
					<td>{{ orden.nombre }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Apellidos:</th>
					<td>{{ orden.apellidos }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Direccion:</th>
					<td>{{ orden.direccion }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Distrito:</th>
					<td>{{ orden.distrito }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Telefono:</th>
					<td>{{ orden.telefono }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">celular:</th>
					<td>{{ orden.celular }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">DNI:</th>
					<td>{{ orden.dni }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Correo:</th>
					<td>{{ orden.correo }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Hora de Entrega:</th>
					<td>{{ orden.tiempo }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Indicaciones:</th>
					<td>{{ orden.indicacion }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Local:</th>
					<td>{{ distribuidor.titulo }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Tipo de Entrega:</th>
					<td>{{ orden.tipo }}</td> 
				</tr>
				<tr>
					<th style="text-align:left">Tipo de Pago:</th>
					<td>{{ orden.pago_tipo }}</td> 
				</tr>
			</table>
			<br />
			<br />
			<table style="width:100%;border-top:1px solid #ccc;">
				<thead>
					<tr>
						<th style="width:10%;border-bottom:2px solid #444;">N°</th>
						<th style="width:60%;border-bottom:2px solid #444;">Descripción</th>
						<th style="width:10%;border-bottom:2px solid #444;">Cantidad</th>
						<th style="width:20%;border-bottom:2px solid #444;text-align:right;">Precio</th>
					</tr>
				</thead>
				<tbody>
					{% for i, prod in carrito %}
					<tr>
						<td style="border-bottom:1px solid #ccc;"><center><b>{{ i }}</b></center></td>
						<td style="border-bottom:1px solid #ccc;">{{ prod.titulo }}</td>
						<td style="border-bottom:1px solid #ccc;">{{ prod.cantidad }}</td>
						<td style="text-align:right;border-bottom:1px solid #ccc;">
							S/. {{ prod.precio|number_format(2) }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" style="text-align:right">Sub-Total</td>
						<th style="font-size:16px;font-weight:bold;text-align:right;">
							S/. {{ carrito_total|number_format(2) }}
						</th>
					</tr>
					{% if orden.tipo == 'Delivery' %}
					<tr>
						<td colspan="3" style="text-align:right">Envío</td>
						<th style="font-size:16px;font-weight:bold;text-align:right;">
							S/. {{ distribuidor.envio|number_format(2) }}
						</th>
					</tr>
					<tr>
						<td colspan="3" style="text-align:right">Total</td>
						<th style="font-size:20px;text-align:right;border-top:2px solid #ccc;">
							S/. {{ (distribuidor.envio+carrito_total)|number_format(2) }}
						</th>
					</tr>
					{% else %}
					<tr>
						<td colspan="3" style="text-align:right">Total</td>
						<th style="font-size:20px;text-align:right;border-top:2px solid #ccc;">
							S/. {{ carrito_total|number_format(2) }}
						</th>
					</tr>
					{% endif %}
				</tfoot>
			</table>
		</td>
	</tr>
</table>
				
			</div>
		</div>
	</div>
</div>
</div>