<div id="footer" class="gdAll center">
    <div id="iFoot">
        <ul class="left" id="foot">
            <li class="liFoot"><a href="#" class="aFoot">Home</a>
            </li>
            <li class="liFoot"><a href="#" class="aFoot">Selecciona tu tipo de comida</a>
            </li>
            <li class="liFoot"><a href="#" class="aFoot">Como Funciona</a>
            </li>
            <li class="liFoot"><a href="#" class="aFoot">Servicio al Cliente</a>
            </li>
            <li class="liFoot"><a href="#" class="aFoot">Contacto</a>
            </li>
            <li class="liFoot"><a href="#" class="aFoot">Términos y condiciones</a>
            </li>
        </ul>
        <div class="right" id="optFoot">
            <h6 class="titH6F">Encuéntranos en</h6>
            <div class="block">
                <a href="https://www.facebook.com/tuorden.pe" class="iTwitter icons" title="Siguenos en Facebook"></a>
                <a href="http://twitter.com/#!/tuorden" class="iFacebook icons" title="Siguenos en Twitter"></a>
            </div>
            <div class="block">
                <h2><a href="#" class="logo" title="tuorden.pe"></a></h2>
            </div>
        </div>
    </div>
    <p class="direccion">
        <a class="" href="http://www.staffcreativa.com/" target="_blank">
            <img title="" alt="" src="images/validators_staff.png">
        </a>
    </p>
</div>